:root {
    /* Light mode variables */
    --BackgroundColorLight: #f4f4f9;
    --TextColorLight: #000;
    --ContainerBackgroundLight: #fff;
    --ContainerBoxShadowLight: rgba(0, 0, 0, 0.1);
    --InputBackgroundLight: #fff;
    --InputBorderColorLight: #ccc;
    --InputTextColorLight: #000;
    --ButtonBackgroundLight: #007BFF;
    --ButtonHoverBackgroundLight: #0056b3;
    --ButtonTextColorLight: #fff;
    --LinkUnvisitedLight: #007BFF;
    --LinkVisitedLight: #551A8B;

    /* Dark mode variables */
    --BackgroundColorDark: #1B262C;
    --TextColorDark: #BBE1FA;
    --ContainerBackgroundDark: #0F4C75;
    --ContainerBoxShadowDark: rgba(255, 255, 255, 0.1);
    --InputBackgroundDark: #1a1a1a;
    --InputBorderColorDark: #293a43;
    --InputTextColorDark: #BBE1FA;
    --ButtonBackgroundDark: #3FB832;
    --ButtonHoverBackgroundDark: #308C26;
    --ButtonTextColorDark: #BBE1FA;
    --LinkUnvisitedDark: #BBE1FA;
    --LinkVisitedDark: #82CFFF;
  
    --Error: #EE1144;
}

/* Base styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select {
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

select {
  width: 150px;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--ButtonHoverBackgroundLight);
}

#result {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.error {
    color: red;
    font-weight: bold;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--BackgroundColorLight);
        color: var(--TextColorLight);
    }

    .container {
        background: var(--ContainerBackgroundLight);
        box-shadow: 0 0 3px var(--ContainerBoxShadowLight);
    }

    input, select {
        background-color: var(--InputBackgroundLight);
        border-color: var(--InputBorderColorLight);
        color: var(--InputTextColorLight);
    }

    button {
        background-color: var(--ButtonBackgroundLight);
        color: var(--ButtonTextColorLight);
    }

    button:hover {
        background-color: var(--ButtonHoverBackgroundLight);
    }
  
    a {
        color: var(--LinkUnvisitedLight);
    }

    a:visited {
        color: var(--LinkVisitedLight);
    }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--BackgroundColorDark);
        color: var(--TextColorDark);
    }

    .container {
        background: var(--ContainerBackgroundDark);
        box-shadow: 0 0 3px var(--ContainerBoxShadowDark);
    }

    input, select {
        background-color: var(--InputBackgroundDark);
        border-color: var(--InputBorderColorDark);
        color: var(--InputTextColorDark);
    }

    button {
        background-color: var(--ButtonBackgroundDark);
        color: var(--ButtonTextColorDark);
    }

    button:hover {
        background-color: var(--ButtonHoverBackgroundDark);
    }

    a {
        color: var(--LinkUnvisitedDark);
    }

    a:visited {
        color: var(--LinkVisitedDark);
    }
}
